  <div class="comments">
    <p>{{comment.content}} <span>Rating: {{comment.rating}}</span></p>
    <p>Author: {{comment.author}} <span><button class="btn btn-danger right" name="button">delete</button></span> </p>
  </div>
