<div class="each">
  <div class="row">
    <div class="col-md-4 img">

      <img src="{{matatu.image}}" class="rounded float-left pro" alt="">
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <p><strong>{{#link-to 'matatu' matatu.id}}{{matatu.name}}{{/link-to}}</strong></p>
        </div>
        <div class="card-body">
          <p>{{matatu.route}}</p>
          <p>Average rating: 9.1</p>

        </div>
      </div>
    </div>
  </div>
</div>
